body{
    background-color: #24292E;
}
#navbar{
    background-color:#1F2428;
    display:grid;
    grid-template-columns: 125px .25fr 1fr;
    font-family: 'Montserrat', sans-serif;
}
#navbar #logo{
    background-color: #23D18B;
    font-size:50px;
    width:fit-content;

    padding-top:5px;
    padding-bottom:5px;
    padding-left:20px;
    padding-right:20px;
    
}
#navbar ul{
    margin-top: 25px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}
#navbar a{
    text-align:center;
    /* background-color: ; */
    text-decoration: none;
    color:#E1E4E8;
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;
    transition:.3s;
    width:max-content;

    
}
#navbar a:hover{
    background-color:#F9826C;
}